.posts {
    padding: 1em;
    margin: 1em;
    background-color: var(--color5);
    font-family: 'VT323', monospace;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2em;
    width: 25vw;
    height: 25vw;
}

.sticky-notes {
    flex-wrap: wrap;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: var(--color4);
}