body {
    /* feel free to update these css variables for a quick theme */

    --color1: white;
    --color2: rgb(149, 1, 255);
    --color3: rgb(120, 231, 90);
    --color4: rgb(254, 188, 31);
    --color5: rgb(234, 54, 102);

    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.45);
    --gutter: 30px;
    --footer-height: 25px;

    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    color: var(--color3);
}

header {
    display: flex;
    flex-direction:column;
    background-color: var(--color2);
    align-items: center;
    padding: 3em;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

div.gutter-right {
    -ms-flex-align: center;
    align-content: center;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

button {
    color: var(--color4);
    background-color: var(--color2);
    border: var(--color3) dashed;
    border-radius: 0.25em;
    align-content: center;
}
